	  <div class="owl-carousel" id="sync1">
	    <div class="item container-fluid">
	      <div class="row">
	      	{{#news}}
  				<div class="news-item nn-item text-center col-md-3 col-xs-12 col-sm-12"><a href="{{url}}"><img src="{{img}}" class="img-responsive img-thumbnail img-center"><p class="text-justify">{{title}}</p></a></div>
  			{{/news}}
	      </div>
	    </div>
	    <div class="item container-fluid">
			<div class="row">
  				{{#newsOnliner}}
  					<div class="news-item onliner-item text-center col-md-3 col-xs-12 col-sm-12"><a href="{{url}}"><img src="{{img}}" class="img-responsive img-thumbnail img-center"><p class="text-justify">{{title}}</p></a></div>
  				{{/newsOnliner}}
			</div>
	    </div>
	    <div class="item container-fluid">
	      	<div class="row">
  				{{#newsTut}}
  					<div class="news-item tutby-item text-left col-md-2 col-xs-6 col-sm-12"><a href="{{url}}"><img src="{{img}}" class="img-responsive img-thumbnail img-center"><p class="text-justify">{{title}}</p></a></div>
  				{{/newsTut}}
			</div>
	    </div>
	  </div>